DISCORD_TOKEN=your_discord_bot_token
LEADS_CHANNEL_ID=your_leads_channel_id
ROUTE_CHANNEL_ID=your_route_channel_id
API_PORT=3001
HOME_ZIP=84058
HOME_CITY=Orem, UT
MIN_PROFIT_PER_UNIT=5
SELL_FEE_PERCENT=15
SELL_FEE_FLAT=5
